

  <div class="container">
    <div class="row p-4">
      <a class="col-2" type="button">
        <label for="search" class="fs-6 d-flex justify-content-end text-info"
          ><i class="fa fa-search" aria-hidden="true"></i> Search
        </label>
      </a>
      <div class="col-8">
        <input
          type="text"
          name="search"
          id="search"
          class="form-control p-3"
          [(ngModel)]="searchCat"
          placeholder="Entrer le nom du projet"
        />
        <!-- <span class="text-decoration-underline fs-5"
              >Voulez vous ajouter un projet? Cliquer içi ! :</span
            > -->
      </div>
      <div class="col-2"  *ngIf="storage.getUser().roles == 'ROLE_ADMIN'">

        <button
          type="button"
          (click)="onCreate()"
          class="btn btn-info ms-3 pt-3 pb-3 pe-3 ps-3"
        >
          Ajouter un projet <i class="fa fa-plus ms-2"></i>
        </button>
      </div>

      <table id="example1" class="table table-bordered table-striped m-2">
        <thead>
        <tr>

          <th>Nom du prjet</th>
          <th>Description du projet</th>

          <th *ngIf="storage.getUser().roles == 'ROLE_ADMIN'">Action</th>

        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let c of listproject | listProjectPipe: searchCat">


          <td>{{c.name_project}}</td>

          <td>{{c.description_projet}}</td>


          <div
          class="text-center"
            *ngIf="storage.getUser().roles == 'ROLE_ADMIN'"
          >
          <button
              type="button"
              class="btn btn-danger btn-sm me-3 p-3 m-1"
              (click)="Deleteproject(c.id)"
            >
            <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
            <button
              type="button"
              class="btn btn-info btn-sm p-3"
              (click)="onDetail(c)"
            >
            <i class="fa fa-pen" aria-hidden="true"></i>
            </button>
           </div>

        </tr>



      </table>


      <!-- <div
        class="card me-4 mt-4 mb-5 shadow bg-body rounded m-1"
        style="width: 19rem"
        *ngFor="let c of listproject | listProjectPipe: searchCat"
      >


        <div class="card-body">
          <h2 class="card-title text-center text-success">
            {{ c.name_project }}
          </h2>
          <div class="card-body">
            <h2 class="card-title text-center text-success">
              {{ c.description_projet }}
            </h2>

          <div
            class="text-center"
            *ngIf="storage.getUser().roles == 'ROLE_ADMIN'"
          >
            <button
              type="button"
              class="btn btn-danger btn-sm me-3 p-3 m-1"
              (click)="Deleteproject(c.id)"
            >
            <i class="fa fa-trash" aria-hidden="true"></i>
            </button>

            <button
              type="button"
              class="btn btn-info btn-sm p-3"
              (click)="onDetail(c)"
            >
            <i class="fa fa-pen" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
    </div> -->
  </div>

