<div class="col-sm-8 col-sm-offset-2">
  <form [formGroup]="worksForm" (ngSubmit)="onSubmitForm()">
    <div class="form-group">
      <label for="name_project" class="fs-5 mt-2">Nom du projet</label>
      <div class="form-group">
        <label for="projectsID" class="">Project:</label>
        <select
          class="form-control form-select"
          formControlName="project"
        >
        <ng-container *ngFor="let d of projectList" >
          <option [ngValue]="d"  *ngIf="project.id == d.id"  selected>
            {{ d.name_project }}
          </option>
          <option [ngValue]="d"  *ngIf="project.id != d.id">
            {{ d.name_project }}
          </option>
        </ng-container>
        </select>
      </div>


      <label for="description" class="fs-5 mt-2">Description </label>
      <input
      type="text"
      id="description"
      class="form-control mb-4 p-3 mt-3"
      formControlName="description"/>
    </div>









    <div class="form-group">
      <button type="submit" class="btn btn-dark me-3 p-3">
        Enregistrer <i class="fa fa-database ms-2"></i>
      </button>
      <button
        type="button"
        class="btn btn-outline-dark ml-1 p-3"
        [mat-dialog-close]
      >
        <i class="fa fa-close"></i> Close
      </button>
    </div>
  </form>
</div>
